/node_modules
.idea

/fanfics/node_modules
/fanfics/.pnp
/fanfics.pnp.js
/fanics/.idea

# testing
/fanfics/coverage

# production
/fanfics/build

# misc
/fanfics/.DS_Store
/fanfics/.env.local
/fanfics/.env.development.local
/fanfics/.env.test.local
/fanfics/.env.production.local

/fanfics/npm-debug.log*
/fanfics/yarn-debug.log*
/fanfics/yarn-error.log*