.App.dark .custom-button {
    margin-right: 0.5vw;
    display:block;
    color: whitesmoke;
    background-color: #373737;
    border-color: whitesmoke;
    font-size: 1rem
}

.App.dark .custom-button:hover {
    color: #373737;
    background-color: whitesmoke;
    border-color:#373737
}

.App.dark .navbar {
    display:flex;
    flex-direction:row;
    background: rgba(47,50,55, 0.5);
}

.App.dark .main-page__page {
    background-color: #494c51;
}

.App.dark .comment {
    background-color: dimgray;
}

.App.dark .user-button{
    border: solid 0px;
    background-color: #494c51;
}

.App.dark .chapter-button {
    color:black
}

.App.dark .work-card__tag {
    background-color: dimgray;
}

.App.dark .work-card__tag:hover {
    background-color: #494c51;
}

.App.dark #form {
    color: white;
}

.App.dark .settings-card {
    background-color: dimgray;
}

.App.dark .settings-list__item {
    border-color:rgba(47,50,55, 0.5);
}

.App.dark .UserPage .card {
    border-color : whitesmoke
}

.App.dark .background {
    background-color: #d3d3d3;
}

.App.dark .card {
    margin-top:2%;
    background-color: #373737;
}

.App.dark div{
    color : whitesmoke
}

.App.dark .container {
    background-color: #373737;
}

.App.dark .cell {
    border-color: whitesmoke;
}
.App.dark a{
    color: whitesmoke;
}

.App.dark .work-card {
    background-color: #373737;
}

.App.dark .book__rating {
    background-color: #373737;
}

.App.dark .book-contents__item {
    background-color: dimgray;
}

.App.dark .book-contents__item:hover {
    background-color: #373737;
}

.App.dark .user-header {
    background-color: dimgray;
}

.App.dark .user-menu__item {
    background-color: black;
    border: 1px solid whitesmoke;
}

.App.dark .like-container {
    background-color: dimgray;
}

.App.dark .like-container.liked {
    background-color: #494c51;
}

.App.dark .like-container:hover {
    background-color: #494c51;
}

.App.dark .comment-box {
    background-color: #373737;
}
