.App.dark .custom-button {
    margin-right: 0.5vw;
    display:block;
    color: whitesmoke;
    background-color: #373737;
    border-color: whitesmoke;
    font-size: 1rem
}

.App.dark .custom-button:hover {
    color: #373737;
    background-color: whitesmoke;
    border-color:#373737
}

.App.dark .navbar {
    max-width: 100%;
    display:flex;
    flex-direction:row;
    background-color: #373737;
}

.App.dark .user-button{
    border: solid 0px;
    background-color: #373737;
}

.App.dark .background {
    background-color: #d3d3d3;
}

.App.dark .card {
    margin-top:2%;
    background-color: #373737;
}

.App.dark div{
    color : whitesmoke
}

.App.dark .container {
    background-color: #373737;
}

.App.dark .cell {
    border-color: whitesmoke;
}
.App.dark a{
    color: whitesmoke;
}

.App.dark .comment {
    background-color: #d3d3d3
}

.App.light .comment-box {
    background-color: #373737;
}

