
.custom-container {
    margin-top:2%;
    min-height: 90vh;
    width:90%;
    display: flex;
    justify-content: center;
    border: solid 1px #b76a47;
    border-bottom-width:0px;
    border-top-width:0px;
}

.cell {
    margin-top:1%;
    border:solid 1px;
    display:flex;
    flex-direction:row;
}

.App.dark .RecentWorks .card {
    border-color : whitesmoke
}

.App.light .RecentWorks .card {
    border-color : #b76a47
}

.descr-text {
    margin-left:2%
}

.books-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center
}

.card-footer {
    display:flex;
    justify-content: flex-start;
}