.user-works {
    width: 90%
}
.add-book-card {
    background-color: #ead6aa;
    border-radius:5px;
    width: 10rem;
    height: 3rem;
    border: solid 1px #b76a47
}
td {
    min-width: 30vw;
}

.App.dark .UserPage p {
    color: whitesmoke;
}

.App.light .UserPage p {
    color : #b76a47
}

.user-profile {
    width:70%;
    margin-left: 15%;
    min-height: 10rem;
}

.user-profile {
    min-height: 90vh
}


.App.dark .UserPage .card {
    border-color : whitesmoke
}

.App.light .UserPage .card {
    border-color : #b76a47
}

.flex-box {
    margin-top: 2%;
    display:flex;
    justify-content: center;
}

.App .UserPage .card-header {
    display: flex;
    justify-content: space-between;
}


.user-header {
    display: flex;
    align-items: center;
}

.edit-box {
    font-size: 1.5rem
}

@media (max-width: 976px) {
    .user-header {
        flex-direction: column;
    }
}

.user-add {
    width:100px;
    height:100px
}

.add-image {
    display:flex;
    flex-direction:column
}