.user-works {
    width: 90%
}
.add-book-card {
    background-color: #ead6aa;
    border-radius:5px;
    width: 10rem;
    height: 3rem;
    border: solid 1px #b76a47
}

td {
    min-width: 30vw;
}

.App.dark .UserPage p {
    color: whitesmoke;
}

.user-profile {
    margin-right: 15%;
    margin-left: 15%;
    min-height: 10rem;
}

.user-profile {
    min-height: 90vh
}


.flex-box {
    margin-top: 2%;
    display:flex;
    justify-content: center;
}

.App .UserPage .card-header {
    display: flex;
    justify-content: space-between;
}

.UserPage {
    padding-top: 3rem;
}

.user-menu {
    width: 15rem;
    height: 50px;
    position: relative;
    margin-right: -1rem;
    z-index: 100;
}


.user-menu__item {
    width:100%;
    cursor: pointer;
    height:100%;
    border-radius: 5px;
    margin: 0.2rem;
    display:flex;
    justify-content: center;
    align-items:center;
}

.user-menu__dropdown {
    position: absolute;
    list-style-type: none;
    top: 100%;
    width: 100%;
    z-index: 1000;
    height: 100%;
    margin-left: -40px;
    visibility: hidden;
}

.user-menu__icon {
    transform: rotate(270deg);
    cursor:pointer;
    position: absolute;
    right: 2.5rem;
    top: 45%;
}

.user-head {
    display:flex;
    flex-direction: row;
    align-items:center;
}

.user-info {
    display:none;
    margin: 1rem;
    margin-left: 2rem;
}
.user-info strong {
    margin-bottom: 1rem;
}

.works {
    display:none;
}

.user-info div {
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .user-head {
        flex-direction: column;
    }
    .user-header {
        align-items: flex-start !important;
    }
}

.user-page-name {
    text-align:center;
}

.user-menu.active .user-menu__icon{
    transform: rotate(90deg);
}

.user-menu.active .user-menu__dropdown {
    visibility: visible;
}

.user-header {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-box {
    font-size: 1.5rem
}

.user-image {
    border-radius: 50%;
}

.user-image:hover {
    width: 700px;
    height:600px;
    border-radius: 10%
}

@media (max-width: 976px) {
    .user-profile {
        marfin-left: 5%;
        margin-right:5%
    }
}

.user-add {
    width:200px;
    height:200px
}

.add-image {
    display:flex;
    flex-direction:column
}
