
.book {
    margin-left: 15%;
    margin-right:15%
}
.content {
    min-height: 90vh;
}

.card-box {
    width: 100%;
    min-height: 85vh;
}

.tag-button {
    height: fit-content;
    width: fit-content;
    background-color: #f5edda;
    font-size: 0.8rem;
    border-radius: 5%;
    margin: 2px;
    color:#b76a47
}

.works__container--book {
    display: flex;
    flex-direction: row;
}

.work-card--book {
    flex-grow: 2;
    border-radius: 5px;
}


@media (max-width: 767px) {
    .works__container--book {
        flex-direction: column !important;
    }
}

.comments-container {
    padding-top: 1rem;
    border-top: 1px solid whitesmoke;
}

.work-card__header--out {
    padding-top: 2rem;
    text-align: center;
}

.book-contents__item {
    align-items: center;
    border-radius: 3px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 5px;
}

.book-contents__item:hover {

}

.book-contents {
    margin:1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.name-book {
    margin-left: 2%;
}

.tag-button:hover {
    height: fit-content;
    width: fit-content;
    background-color: #f9f8e5;
    font-size: 0.7rem;
    border-radius: 5%;
    margin: 2px;
    color: #b77c59
}

.rating-text {
    font-size: 1vw;
}

.rating {
    width: 20%;
    height: 10rem;
    margin-left:1.5%;
    margin-top:2%;
    background-color: #ead6aa;
    border-radius:5px
}


.book-header {
    height:7vh;
    border:  solid 1px  #b76a47;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.list {
    color: #b76a47;
}

.h5 {
    margin-bottom: 3rem
}

.name {
    margin-left:5%;
    margin-right:5%;
    width: 90%
}

.tags-mg {
    margin-bottom: 2%
}

.chapter-link {
    margin-bottom:5%
}
.tags {
    border-bottom: solid 1px ;
}

.chapters {
    border-bottom: solid 1px #b76a47;
}

.box {
    align-items: center;
    display:flex;
    flex-direction :row;
    margin-left:1.5rem;
    margin-right:1.5rem
}

.like-button {
    margin-left: 3rem
}

.rating-box {
    flex-direction : row;
    align-items: center;
    display:flex;
    justify-content: space-between;
    width:100%;
}

@media (max-width: 976px){
    .rating-box {
        font-size: 1rem;
        flex-direction: column
    }
}

@media (max-width: 976px){
    .book {
        margin-left : 5%;
        margin-right: 5%
    }
}

