
.book {
    margin-left: 15%;
    margin-right:15%
}
.content {
    min-height: 90vh;
}

.card-box {
    width: 100%;
    min-height: 85vh;
}

.rating-text {
    font-size: 1vw;
}

.rating {
    width: 20%;
    height: 10rem;
    margin-left:1.5%;
    margin-top:2%;
    background-color: #ead6aa;
    border-radius:5px
}

.card-header {
    height:7vh;
    border:  solid 1px  #b76a47;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    display:flex;
    justify-content: space-between;
}

.list {
    color: #b76a47;
}

.h5 {
    margin-bottom: 3rem
}

.comments {
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 2%;
    width: 90%;
    height: 40%
}

.name {
    margin-left:5%;
    margin-right:5%;
    width: 90%
}

label {
     margin-left:5%;
    margin-right:5%;
    margin-top:5%
}

.send{
    margin-left:5%;
    margin-bottom: 5%;
}

.box {
    align-items: center;
    display:flex;
    flex-direction :row;
    margin-left:1.5rem;
    margin-right:1.5rem
}

.like-button {
    margin-left: 3rem
}

.rating-box {
    flex-direction : row;
    align-items: center;
    display:flex;
    justify-content: space-between;
    width:100%;
}

@media (max-width: 976px){
    .rating-box {
        flex-direction: column
    }
}

