
.table-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App.dark .Works .card {
    border-color : whitesmoke
}

.App.light .Works .card {
    border-color : #b76a47
}

