.custom-button {
  display:block;
  color: #b76a47;
  background-color: #ead6aa;
  border-color: #b76a47
}

.custom-button:hover {
  color: #ead6aa;
  background-color: #b76a47;
  border-color: #b76a47
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-dark-button {
  display:block;
  color: whitesmoke;
  background-color: #373737;
  border-color: whitesmoke
}

.custom-button:hover {
  color: #373737;
  background-color: whitesmoke;
  border-color: whitesmoke
}




