.custom-button {
    display:block;
    color: #b76a47;
    background-color: #ead6aa;
    border-color: #b76a47
}

.custom-button:hover {
    color: #ead6aa;
    background-color: #b76a47;
    border-color: #b76a47
}

.navbar {
    display:flex;
    flex-direction:row;
    background-color: #ead6aa;
}

.background {
    background-color: #f5edda;
}

div {
    color : #b76a47
}
