
.App.dark #form{
    color: #373737
}

form {
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 1rem;
    flex-grow:1
}

.cont {
    overflow:hidden;
    flex-direction: column;
    width:25rem;
}

.button-box {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.sign-in {
    margin:1%;
    width: 50%;
}

.navbar {
    color:#b76a47;
    height: 8vh;
}

.sign-up {
    overflow: hidden;
    align-content: center;
    font-size:1rem;
    text-align: center;
}

.Register {
    display: none;
}

.header {
    align-items:center;
    height:100%;
    display: flex;
    flex-direction: row;
    width:100%
}