.comment {
    min-height : 20vh;
    margin-left:20%;
    margin-right:7%;
    margin-bottom: 5%;
    margin-top:5%;
    width: 73%;
}

label {
    display: block;
    margin:2%;
}

.comment-text {
    margin-top: 5%;
    margin-left:2%
}

.username {
    margin-left:2%;
}

.comment-box {
    margin-left:2%;
    margin-right:2%;
    margin-bottom:2%;
    width: 96%;
    border-radius: 5px;
}