.comment {
    min-height : 20vh;
    flex-grow: 1;
}

label {
    display: block;
    margin: 1rem;
}

.comment-text {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.comment-username {
    margin-left: 2%;
    padding-top: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.comment-username:hover {
    opacity: 0.7;
}

.comment-area {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}


.send{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .comment-poster {
        height: 50px !important
    }
}

.existing-comments {
    border-top: 1px solid white;
    margin-top: 2rem;
    padding-top: 1rem;
}