.chapter {
    align-items: center;
    justify-content: center;
}
.chapter-content {
    margin-top:2%;
    min-height: 90vh;
    margin-left:15%;
    margin-right:15%
}

.chapterWithNav {
    overflow:hidden;
    display:flex;
    flex-direction:column;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
    align-items:center;
}


.content-button {
    margin-left:0.25%;
    margin-right:0.25%
}

.hide-nav-button {
    display:none;
}

@media (max-width: 976px){
    .chapter-content {
        margin-left : 5%;
        margin-right: 5%
    }
}