.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

.header-right {
    display: flex;
    align-items: center;
}

.language {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
}

.sign-in-button{
    position: absolute;
    right: 2rem;
    width:fit-content;
    margin-left:0.5%;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.sign-out-button{
    width:fit-content;
    margin-left:0.5%;
}

.main-menu__dropdown {
    width: 200px !important;
    margin-left: -50px !important;
}

.main-menu__item {
    height: 40px !important;
}

.main-menu.active .main-menu__dropdown {
    visibility: visible;
}

.account {
    display: flex;
    position: absolute;
    width: 4rem;
    right: 3rem;
    cursor: pointer;
}

.account span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.application-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    border:  solid 0px  #b76a47;
}

.application-name img {
    width: 3rem;
    height: 3rem;
}

.navbar-nav {
    display:flex;
    flex-direction: row;
    align-items:center
}

.form {
    height:100%;
    display: flex;
    flex-direction:row;
}

a {
    margin-left:5px;
}

App.dark .MainHeader label {
    color: whitesmoke
}

@media (max-width: 976px){
    .App .application-name {
        font-size: 5vw;
    }
}

@media (max-width: 976px){
    .App .MainHeader .custom-button {
        font-size: 3vw;
    }
}

@media (max-width: 976px){
    .App .MainHeader .search {
        font-size: 3vw;
    }
}

@media (max-width: 767px) {
    .application-name img {
        width: 2rem;
        height: 2rem;
    }
}

.sign-in-button {
    display: flex;
    align-items: center;
}

.sign-in-button img {
    width: 1rem;
    height: 1rem;
}




