img {
    width: 1.5rem;
    height: 1.5rem;
}

.sign-in-button{
    width:fit-content;
    margin-left:0.5%;
}
.application-name {
    font-size: 2rem;
    border:  solid 0px  #b76a47;
}

.navbar-nav {
    display:flex;
    flex-direction: row;
    align-items:center
}

.form {
    height:100%;
    display: flex;
    flex-direction:row;
}

a {
    margin-left:5px;
}

App.dark .MainHeader label {
    color: whitesmoke
}

@media (max-width: 976px){
    .App .application-name {
        font-size: 5vw;
    }
}


